*~
db.sqlite3
__pycache__
*.pyc
*.swn
*.swo
*.swp
*.egg-info
.coverage
htmlcov
venv/
*-venv/
app/.cache
.cache

set-secrets.*sh

Cakefile.js
app/coffee/*.js
app/static/compiled-js/
app/test.db
app/db.sqlite

node_modules/
npm-debug.log

dump.rdb
ghostdriver.log
